---
- name: "Ping: check all hosts"
  tags: ping
  hosts: all
  tasks:
    - name: "ping"
      ansible.builtin.ping:
- name: "Vars: show variables"
  tags: vars
  hosts: all
  gather_facts: false
  tasks:
    - debug:
        var: vars
- name: "Multiarch i386 to target_hosts"
  tags: target
  hosts: target_hosts
  become: true
  tasks:
    - name: Verifica se l'architettura i386 è già abilitata
      ansible.builtin.command: dpkg --print-foreign-architectures
      register: foreign_archs
      changed_when: false
      check_mode: no
    - name: Aggiunge architettura i386 (solo se manca)
      ansible.builtin.command: dpkg --add-architecture i386
      when: "'i386' not in foreign_archs.stdout_lines"
      become: yes
    - name: Aggiorna apt cache dopo aver aggiunto i386
      ansible.builtin.apt:
        update_cache: yes
      when: ansible_facts['pkg_mgr'] == 'apt'
      become: yes
